/* メインのコメントの色と影の設定 */
.white_text {
   color: rgba(255, 255, 255, 1.0);
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: black; */
   text-shadow: 
   black 2px 0px,  black -2px 0px,
   black 0px -2px, black 0px 2px,
   black 2px 2px , black -2px 2px,
   black 2px -2px, black -2px -2px,
   black 1px 2px,  black -1px 2px,
   black 1px -2px, black -1px -2px,
   black 2px 1px,  black -2px 1px,
   black 2px -1px, black -2px -1px;
}

/* メインのコメントの色と影の設定 */
.system_comment {
   color: rgba(255, 0, 0, 1.0);
   text-shadow: #FF8888 2px 2px 1px, #FF8888 -2px 2px 1px, #FF8888 2px -2px 1px, #FF8888 -2px -2px 1px;
}

/* サービス(YoutubeLiveやニコニコ)のコメントの色と影の設定 */
.white_provider_text {
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 
   black 1px 0px,  black -1px 0px,
   black 0px -1px, black 0px 1px,
   black 1px 1px , black -1px 1px,
   black 1px -1px, black -1px -1px,
   black 0px 1px,  black -0px 1px,
   black 0px -1px, black -0px -1px,
   black 1px 0px,  black -1px 0px,
   black 1px -0px, black -1px -0px;
    position: absolute;
    bottom: 0;
    /* 透過率(0～1.0) */
    opacity: 0.4;
    /* 右からの位置 */
    right: 4%;
}
/* 画像の表示設定です。 */
.stamp {
    height: 60px;
    width: auto;
}
/* 動画の表示設定です。 */
.video {
    height: 60px;
    width: auto;
}
/* コメントの表示設定です。 */
.comment {
    position: absolute;
    width: 100%;
    /* フォント */
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
    /* 文字サイズ */
    font-size: 28px;
    /* 行の高さ */
    line-height: 1.00;
    /* 余白 */
    padding: 10px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
    border-style: none none none none;
    /* コメントの背景色(RGBA) */
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 200ms 0s ease;
    border-left: 5px double rgba(0, 0, 0, 0.0);
    bottom: 2px;
	font-weight: 900;
    
    /* 下記の3つはコメントが一行に収まる設定です。 */
    /* 下記を消すとコメントが複数行になります。*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.message_box {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0px 5% 5px 5px;
    padding: 0px 0px 0px 5px;
}
html{
    height: 100%;
}

body {
    /* background-color: #000000; */
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}