/* ニコニコ風に流れる方のカスタマイズ */
/* メインのコメントの色と影の設定 */
.white_text {
   color: rgba(255, 255, 255, 1.0);
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: #00000022; */
   text-shadow: 
   #00000022 2px 0px,  #00000022 -2px 0px,
   #00000022 0px -2px, #00000022 0px 2px,
   #00000022 2px 2px , #00000022 -2px 2px,
   #00000022 2px -2px, #00000022 -2px -2px,
   #00000022 1px 2px,  #00000022 -1px 2px,
   #00000022 1px -2px, #00000022 -1px -2px,
   #00000022 2px 1px,  #00000022 -2px 1px,
   #00000022 2px -1px, #00000022 -2px -1px;
   /* 透過率(0～1.0) */
   opacity: 1.0;
}

/* メインのコメントの色と影の設定 */
.system_comment {
   color: rgba(255, 0, 0, 1.0);
   text-shadow: #FF8888 2px 2px 1px, #FF8888 -2px 2px 1px, #FF8888 2px -2px 1px, #FF8888 -2px -2px 1px;
}

/* サービス(YoutubeLiveやニコニコ)のコメントの色と影の設定 */
.white_provider_text {
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 
   #00000022 1px 0px,  #00000022 -1px 0px,
   #00000022 0px -1px, #00000022 0px 1px,
   #00000022 1px 1px , #00000022 -1px 1px,
   #00000022 1px -1px, #00000022 -1px -1px,
   #00000022 0px 1px,  #00000022 -0px 1px,
   #00000022 0px -1px, #00000022 -0px -1px,
   #00000022 1px 0px,  #00000022 -1px 0px,
   #00000022 1px -0px, #00000022 -1px -0px;
    position: absolute;
    bottom: 0;
    /* 透過率(0～1.0) */
    opacity: 0.4;
    /* 右からの位置 */
    right: 4%;
}
/* 画像の表示設定です。 */
.stamp {
    width: auto;
}
/* 動画の表示設定です。 */
.video {
    height: 70px;
    width: auto;
}
/* コメントの表示設定です。 */
.comment {
    position: absolute;
    width: auto;
    /* フォント */
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
    /* 文字サイズ */
    font-size: 46px;
    /* 行の高さ */
    line-height: 1.00;
    /* 余白 */
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 0px;
    border-style: none none none none;
    /* コメントの背景色(RGBA) */
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 200ms 0s ease;
    font-weight: 900;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.message_box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
html{
    height: 100%;
}

body {
    /* background-color: #000000; */
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}